/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* ESERCIZIO-2 */

.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: width 2s;
}

/* ESERCIZIO-3 */

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-3-square{
  transition: border-radius 0.5s;
}

/* ESERCIZIO-4 */

.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: opacity 1s ;
}

/* ESERCIZIO-5 */

.ex-5-square{
  transition: all 2s;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

/* ESERCIZIO-6 */

.ex-6-img:hover{
  filter: grayscale(1);
}

/* ESERCIZIO-7 */

.ex-7-img{
  transition: filter 3s;
}

.ex-7-img:hover{
  filter: sepia(0.7);
}

/* ESERCIZIO-8 */

.ex-8-img{
  transition: all 2s;
}

.ex-8-img:hover{
  filter: sepia(0.7);
  border-radius: 20px;
}

/* ESERCIZIO-9 */

.ex-9-img{
  transition: all 2s;
}

.ex-9-img:hover{
  filter: sepia(0.7);
  transform: scale(1.5);
  border-radius: 20px;
}

/* ESERCIZIO-10 */

.ex-10-icon{
  animation-name: rotazione;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotazione {
  0% {
      transform: rotate(360deg);
  }
}

/* ESERCIZIO-11 */

.ex-11-icon:hover{
  animation-name: semi-rotazione;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes semi-rotazione{
  0%{
    transform: rotate(0deg)
  }

  80%{
    transform: rotate(320deg)
  }

  100%{
    transform: rotate(0deg);
  }
}

/* ESERCIZIO-12 */


.ex-12-button:hover .ex-12-top-white{
  animation-duration: 2s;
  animation-name: linea-top;
}

.ex-12-button:hover .ex-12-bottom-white{
  animation-duration: 2s;
  animation-name: linea-bottom;
}

@keyframes linea-top{
  0%{
    top: -10px;
    left: 10%;
  }

  50%{
    top: -10px;
    left: 70%;
  }

  100%{
    top: -10px;
    left: 10%;
  }
}

@keyframes linea-bottom{
  0%{
    bottom: -10px;
    right: 20%;
  }

  50%{
    bottom: -10px;
    right: 70%;
  }

  100%{
    bottom: -10px;
    right: 20%;
  }
}

/* ESERCIZIO-13 */

.ex-13-button{}

